<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carlos Noriega | Sobre mí</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <a href="/">Inicio</a>
    <a href="/about">Sobre mí</a>
    <a href="/works">Logros</a>
</nav>

<div class="contenedor">
    <h1>Sobre Carlos Noriega</h1>
    <div class="content">
        <p>Carlos nació en Perú en el año 2050. Desde pequeño, soñaba con explorar las estrellas.</p>
        <h3>Datos Curiosos:</h3>
        <ul>
            <li>Profesión: Astronauta.</li>
            <li>Misión favorita: Aterrizaje en la luna de Titán.</li>
            <li>Comida favorita: Helado deshidratado de fresa</li>
        </ul>
    </div>
</div>
</body>
</html>