<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carlos Noriega | Inicio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <a href="/">Inicio</a>
    <a href="/about">Sobre mí</a>
    <a href="/works">Logros</a>
</nav>

<div class="container home-container">
    <img src="/images/profile.jpg" alt="Carlos Noriega" class="profile-image">

    <h1>Bienvenido al mundo de Carlos Noriega</h1>
    <p>El primer astronauta en tocar una guitarra en el espacio</p>
    <a href="/about" class="btn">Conoce más</a>
</div>
</body>
</html>